# Python
__pycache__/
*.pyc
*.pyo

# Environments
venv/
env/
*.env

# Conda
conda-meta/

# Data (IMPORTANT — never push raw data)
data/raw/
data/processed/
dashboard/*.csv
dashboard/*.xlsx

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Models
models/*.pkl
models/*.joblib